.mainmenu-nav {
    .main-menu {
        display: flex;
        margin: 0;
        padding: 0;
        > li {
            > a {
                color: var(--color-body);
                font-size: 16px;
                font-weight: 500;
                padding: 0 17px;
                display: block;
                height: 80px;
                line-height: 80px;
                transition: 0.3s;
                @media #{$lg-layout} {
                    padding: 0 10px;
                }
                @media #{$md-layout} {
                    padding: 0 12px;
                }
                &:hover,
                &.active {
                    color: var(--color-primary) !important;
                }
            }


        }
        li {
            margin-top: 0;
            margin-bottom: 0;
            position: relative;
        }
    }
}

