.scroll-wrapper{
	width: 100%;
	overflow-y: hidden;
	overflow-x: scroll;
	white-space: nowrap;
	//cursor: move;
	margin: 14px 0;


	&::-webkit-scrollbar{
		display: none;
	}

	.scroll-item{
		display: inline-block;
	}

	.scroll-item:first-child{
		margin-left: -7px;
	}
	.scroll-item:last-child{
		margin-right: -8px;
	}
}


.check-btns{
	cursor: pointer;
	text-align: center;
	td{
		font-size: 14px;
		//padding: 0;
		padding: 4px 3px;
		div{
			height: 6px;
			border-radius: 4px;
		}
	}
	.check-hover:hover{
		border: 2px solid #d261d2;
	}
	.check-active{
		border: 2px solid #d261d2;
	}
}

.demo-block{
	margin-top: -20px;
	ul{
		display: flex;
		flex-direction: row;

		a{
			width: 50%;
			height: auto;
			margin-right: 20px;
			border-radius: 8px;
			//background: #0e1014 no-repeat 100% 0;
			border: 1px solid #333;
			transition: all .3s;
			cursor: pointer;
			//padding: 10px 20px;
			position: relative;

			li{
				display: flex;
				flex-direction: column;
				text-align: left;
				position: absolute;
				z-index: 2;
				left: 20px;
				top: 10px;

				.title{
					font-size: 20px;
					color: #dcdcdc;
				}
				.desc {
					color: #dcdcdc;
					font-size: 14px;
				}
				.btn{
					background: hsla(0,0%,84.7%,.11);
					border-radius: 2px;
					font-size: 14px;
					width: 80px;
					height: 28px;
					line-height: 28px;
					color: #fff;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-top: 24px;
				}
			}

		}
		a:last-child{
			margin-right: 0;
		}

		a:hover{
			border: 1px solid #ffffff;
		}
	}

	li,ul{
		list-style: none;
		padding: 0;
	}
}

.hot-history{
	padding: 60px 0!important;
	.look-more {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 44px;
		.look-more-btn{
			width: 150px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

}
