.blog-padding{
	margin: -60px;
}
.header-wrapper{
	//margin: 10px 0;
}
.rn-section-block{
	margin: 20px 0;
}

.look-more-btn-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	.look-more-btn{
		width: 150px;
	}
}

